web/WEB-INF/wsdl/localhost_8080/LameDuckService/LameDuckService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lameduck.group8.ws.dtu" xmlns:ns="http://types.lameduck.group8.ws.dtu" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LameDuckWSDL" targetNamespace="http://lameduck.group8.ws.dtu">
    <types>
        <xsd:schema targetNamespace="http://lameduck.group8.ws.dtu">
            <xsd:import namespace="http://types.lameduck.group8.ws.dtu" schemaLocation="http://localhost:8080/LameDuckService/LameDuckService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="input" type="ns:getFlightRequestType"/>
    </message>
    <message name="getFlightsResponse">
        <part name="output" type="ns:flightInfoListType"/>
    </message>
    <message name="bookFlightRequest">
        <part name="input" type="ns:bookFlightRequestType"/>
    </message>
    <message name="bookFlightResponse">
        <part name="output" type="xsd:boolean"/>
    </message>
    <message name="cancelFlightRequest">
        <part name="input" type="ns:cancelFlightRequestType"/>
    </message>
    <message name="cancelFlightResponse">
        <part name="output" type="xsd:boolean"/>
    </message>
    <message name="bookFlightFault">
        <part name="fault" element="ns:bookFlightFaultElement"/>
    </message>
    <message name="cancelFlightFault">
        <part name="fault" element="ns:cancelFlightFaultElement"/>
    </message>
    <portType name="LameDuckWSDLPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightRequest"/>
            <output name="output2" message="tns:bookFlightResponse"/>
            <fault name="fault2" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightRequest"/>
            <output name="output3" message="tns:cancelFlightResponse"/>
            <fault name="fault3" message="tns:cancelFlightFault"/>
        </operation>
    </portType>
    <binding name="LameDuckWSDLFinalPortTypeBinding" type="tns:LameDuckWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault2">
                <soap:fault name="fault2" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault3">
                <soap:fault name="fault3" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="LameDuckService">
        <port name="LameDuckPort" binding="tns:LameDuckWSDLFinalPortTypeBinding">
            <soap:address location="http://localhost:8080/LameDuckService/LameDuckService"/>
        </port>
    </service>
</definitions>