web/WEB-INF/wsdl/localhost_8080/LameDuckService/LameDuckService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://types.lameduck.group8.ws.dtu" targetNamespace="http://types.lameduck.group8.ws.dtu" elementFormDefault="qualified">
    <xsd:complexType name="getFlightRequestType">
	<xsd:sequence>
            <xsd:element name="flightStartAirport" type="xsd:string"/>
            <xsd:element name="flightDestinationAirport" type="xsd:string"/>
            <xsd:element name="flightDate" type="xsd:date"/>
	</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="flightInfoType">
        <xsd:sequence>
            <xsd:element name="flightBookingNumber" type="xsd:string"/>
            <xsd:element name="flightPrice" type="xsd:double"/>
            <xsd:element name="flightReservationService" type="xsd:string"/>
            <xsd:element name="flightInfo" type="tns:flightDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="flightDetails">
        <xsd:sequence>
                <xsd:element name="startAirport" type="xsd:string"/>
                <xsd:element name="destinationAirport" type="xsd:string"/>
                <xsd:element name="liftOffDate" type="xsd:date"/>
                <xsd:element name="landingDate" type="xsd:date"/>
                <xsd:element name="carrierName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="flightInfoListType">
        <xsd:sequence>
            <xsd:element name="flightInformation" type="tns:flightInfoType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="cancelFlightRequestType">
        <xsd:sequence>
            <xsd:element name="flightBookingNumber" type="xsd:string"/>
            <xsd:element name="flightPrice" type="xsd:double"/>
            <xsd:element name="creditCardInfo" type="tns:creditCardInfoType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="bookFlightRequestType">
        <xsd:sequence>
            <xsd:element name="flightBookingNumber" type="xsd:string"/>
            <xsd:element name="creditCardInfo" type="tns:creditCardInfoType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="creditCardInfoType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="cardNumber" type="xsd:string"/>
            <xsd:element name="expiryDate" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="defaultFaultType">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="bookFlightFaultType">
        <xsd:sequence>
            <xsd:element name="bookFlightFaultMessage" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="cancelFlightFaultType">
        <xsd:sequence>
            <xsd:element name="cancelFlightFaultMassage" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="cancelFlightFaultElement" type="tns:cancelFlightFaultType"/>
    <xsd:element name="bookFlightFaultElement" type="tns:bookFlightFaultType"/>
</xsd:schema>